<div class="aboutContainer">
  <h1>About Us</h1>
  <p class="history">Allied Consultant Engineering was incorporated in 2015. The team has over 60 years combined experience across technical, corporate and academic roles. Clients have recognised the capabilities of the Allied Consultant Engineering team, and are enjoying the benefits of partnering with Allied Consultant Engineering.</p>
  <div class="aboutRow"><img src="{{""}}{{(urlStaticRelative)}}images/about/roger.jpg" alt="Roger Murphy" title="Roger Murphy" class="img">
    <div class="details">
      <div class="nameAndTitle"><span class="name">Roger Murphy MIEI CEng (Ireland), CPEng (Australia)</span><span> - </span><span class="title">Founder & Director</span>
        <div class="line"></div>
      </div>
      <p>Roger is a Chartered Professional Engineer in Ireland and Australia. He has held a number of senior engineering roles, in construction and design. Prior to founding Allied Consultant Engineering, Roger was National Engineering Manager with Axicom, the largest independent tower owner in Australia.</p>
      <p class="nomargin">Roger has proven expertise in delivering safe, economically designed solutions across a range of industries. Roger also has construction management experience, allowing him to understand the constructability needs of engineering solutions.</p>
    </div>
  </div>
  <div class="aboutRow"><img src="{{""}}{{(urlStaticRelative)}}images/about/breiffni.jpg" alt="Dr. Breiffni Fitzgerald" title="Dr. Breiffni Fitzgerald" class="img">
    <div class="details">
      <div class="nameAndTitle"><span class="name">Dr. Breiffni Fitzgerald MIEI CEng</span><span> - </span><span class="title">Director</span>
        <div class="line"></div>
      </div>
      <p>Breiffni is a professor at Trinity College Dublin, and also provides his specialist skills to Allied Consultant Engineering. Breiffni has written a number of influential papers, notably in the area wind turbine dynamics.</p>
      <p class="nomargin">In 2017 Breiffni's expertise was recognised when he was nominated as Chartered Engineer of the Year by Engineers Ireland. Breiffni provides Allied Consultant Engineering with high level structural engineering skills and his considerable academic expertise.</p>
    </div>
  </div>
  <div class="aboutRow"><img src="{{""}}{{(urlStaticRelative)}}images/about/norbert.jpg" alt="Norbert Ellenberger" title="Norbert Ellenberger" class="img">
    <div class="details">
      <div class="nameAndTitle"><span class="name">Norbert Ellenberger M.Eng MIEI</span><span> - </span><span class="title">Consultant</span>
        <div class="line"></div>
      </div>
      <p>Norbert is a consultant engineer. During his 23 years of experience he has practised as a structural and civil engineer advising on almost all aspects of residential and commercial types of construction and structures. This includes structural design, analysis, reports, repairwork, supervision as well as heat and sound protection of buildings and structures.</p>
      <p class="nomargin">Norbert aims to provide the highest level of technical and practical advice in a cost-effective way.</p>
    </div>
  </div>
  <div class="aboutRow"><img src="{{""}}{{(urlStaticRelative)}}images/about/ruth.jpg" alt="Ruth Murphy" title="Ruth Murphy" class="img">
    <div class="details">
      <div class="nameAndTitle"><span class="name">Ruth Murphy</span><span> - </span><span class="title">Head of Administration</span>
        <div class="line"></div>
      </div>
      <p>Ruth has over 7 years experience in the financial services industry, most of which were spent with Macquarie Bank in Sydney. Ruth brings her diverse experience of managing tasks, projects and people to her role with Allied Consultant Engineering.</p>
    </div>
  </div>
  <div class="sponsorRow"><img src="{{""}}{{(urlStaticRelative)}}images/about/sponsor-LEO.png" alt="Local Enterprise Office Dún Laoghaire-Rathdown" title="Local Enterprise Office Dún Laoghaire-Rathdown" class="img"></div>
</div>