<div class="contactContainer">
  <h1>Contact</h1>
  <div class="contactDetails">
    <div class="addressesContainer">
      <div class="addressOuter">
        <h3 class="title">Office Location</h3><a href="{{"https://www.google.ie/maps/place/Dundrum}}{{Office}}{{Park,}}{{Main}}{{St,}}{{Dundrum,}}{{Dublin}}{{14"}}" target="_blank" class="address"><span class="row companyName">Allied Consultant Engineering</span><span class="row">1st Floor, Paradigm House</span><span class="row">Dundrum Office Park</span><span class="row">Main Street</span><span class="row">Dundrum</span><span class="row">Dublin 14</span></a>
        <section class="phone"><span class="row"><span class="lbl">Phone: </span><span>+353 86 371 5875</span></span></section>
        <section class="email"><span class="row"><span class="lbl">Email: </span><a href="mailto:{{(contactEmail)}}{{""}}" target="_blank" class="email">{{contactEmail}}</a></span></section>
      </div>
      <div class="addressOuter">
        <h3 class="title">Postal Address</h3>
        <section class="address"><span class="row companyName">Allied Consultant Engineering</span><span class="row">Nutgrove Community Enterprise Centre</span><span class="row">Nutgrove Enterprise Park</span><span class="row">Nutgrove Way</span><span class="row">Rathfarnham</span><span class="row">Dublin 14</span><span class="row">Ireland</span></section>
      </div>
    </div>
    <form class="contact">
      <div class="inpRow">
        <div class="inpWrpr half left"><label for="txtFirstName" class="lbl">First name</label><input id="txtFirstName" type="text" name="fname" placeholder="First name" maxlength="50" required class="txt"></div>
        <div class="inpWrpr half right"><label for="txtLastName" class="lbl">Last name</label><input id="txtLastName" type="text" name="lname" placeholder="Last name" maxlength="50" required class="txt"></div>
      </div>
      <div class="inpRow">
        <div class="inpWrpr"><label for="txtCompany" class="lbl">Company (optional)</label><input id="txtCompany" type="text" name="company" placeholder="Company (optional)" maxlength="50" class="txt"></div>
      </div>
      <div class="inpRow">
        <div class="inpWrpr"><label for="txtEmail" class="lbl">Email</label><input id="txtEmail" type="email" name="email" placeholder="Email" maxlength="50" required class="txt"></div>
      </div>
      <div class="inpRow">
        <div class="inpWrpr"><label for="txtPhone" class="lbl">Phone (optional)</label><input id="txtPhone" type="text" name="phone" placeholder="Phone (optional)" maxlength="50" class="txt"></div>
      </div>
      <div class="inpRow">
        <div class="inpWrpr"><label for="txtMessage" class="lbl">Message</label><textarea id="txtMessage" type="text" name="message" placeholder="Message" maxlength="2000" required class="txt"></textarea></div>
      </div>
      <div class="inpRow">
        <div class="inpWrpr"><input type="submit" value="Send" disabled class="btn right send"></div>
      </div>
    </form>
  </div>
</div>