<footer class="main">
  <div class="contentWrapper">
    <div class="copyrightAndHomepageLink"><span class="copyright"><span class="copy">&copy; </span><span class="year">{{new Date().getFullYear()}} </span><span class="text">Copyright </span></span><a href="#" class="gotoTop scrollTopLnk">{{appFullName}}</a></div>
    <div class="contact"><a href="{{""}}{{(urlRelative}}{{mainPages.contact.page)}}{{""}}" page="{{""}}{{(JSON.stringify(mainPages.contact))}}{{""}}" class="lnk">Contact us</a></div>
  </div>
</footer>