<div class="serviceContainer">
  <h1>Structural Analysis & Design</h1>
  <p>Structural Analysis is essential in assessing the reliability of your structural asset. Allied Consultant Engineering will analyse your structure using the most up to date analysis techniques and codes. We will offer sound, impartial advice on the condition of your structure.
    If required, we can work with you to develop safe and economic upgrade solutions where a structure does not meet code or safety requirements.</p>
  <P>If you need design of a new structure, or an upgrade of an existing structure, we can provide design services to meet your needs. Our services include:</P>
  <ul>
    <li>Steel Design</li>
    <li>Concrete Design</li>
    <li>Masonry Design</li>
    <li>Timber Design</li>
    <li>Foundation Design</li>
  </ul>
  <p>We have a proven track record in providing clear design drawings and documentation. Allied Consultant Engineering prides itself on providing clients safe, economic and constructible design solutions. We will also provide Chartered Engineer sign off as required.</p>
  <p><a href="{{""}}{{(urlRelative)}}contact" page="{{""}}{{(JSON.stringify(mainPages.contact))}}{{""}}" class="lnk">Contact us</a><span> if you require structural analysis or design services.</span></p>
</div>