<div class="serviceContainer">
  <h1>Telecoms Structural Engineering</h1>
  <p>Allied Consultant Engineering has extensive structural engineering experience in the telecommunications industry. We understand that telecoms customers operate to tight deadlines and want to maximise the value of their existing infrastructure. We can offer the following services to telecoms customers:</p>
  <ul>
    <li>Guyed Mast Analysis</li>
    <li>Lattice Tower Analysis</li>
    <li>Monopole Analysis</li>
    <li>Rooftop Analysis</li>
    <li>Mount Design</li>
    <li>Foundation Analysis</li>
    <li>Upgrade Design of all structure types</li>
    <li>Chartered Engineer Signoff</li>
  </ul>
  <p><a href="{{""}}{{(urlRelative)}}contact" page="{{""}}{{(JSON.stringify(mainPages.contact))}}{{""}}" class="lnk">Contact us</a><span> if you require telecoms structural engineering services.</span></p>
</div>